.list{
	height: 714px;
}
.list .box{
	height: 710px;
}

.list .box.author{
	width:705px;
}

.body .txt{
	margin:20px auto;
	width:600px;
	height:600px;
	/*background-color:pink;*/
	text-align:center;
	position: relative;
}
.body .txt .left,.body .txt .right{
	width:299px;
	height:540px;
	float: left;
}
.txt-center{
	text-align:center;
}
.body .txt .left{
	/*background:purple;*/
	position:relative;
	border-right:1px solid gray;
}
.body .txt .left.short{
	width:600px;
	border-right:none;
	float:none;
}
.body .txt .left pre{
	position:absolute;
	top:-20px;
	right:20px;
	text-align: right;
}
.body .txt .left pre.short{
	left:0;
	right:0;
	text-align:center !important;
}

.body .txt .right{
	/*background:gray;*/
	position:relative;
}
.body .txt .right pre{
	position:absolute;
	top:-20px;
	left:20px;
	text-align: left;
}


.txt-center.p{
	color:gray;
}

.poet-txt{
	font-size:15px;
	font-family:'微软雅黑';
}